<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>500 Server Error</title>
 <style>
  body {
   background-color: #f2f2f2;
   font-family: Arial, sans-serif;
   font-size: 16px;
   color: #333;
   margin: 0;
   padding: 0;
  }
  .container {
   max-width: 800px;
   margin: 0 auto;
   padding: 50px;
   text-align: center;
  }
  h1 {
   font-size: 72px;
   margin-bottom: 20px;
  }
  p {
   font-size: 24px;
   margin-bottom: 30px;
  }
  a {
   color: #007bff;
   text-decoration: none;
  }
  a:hover {
   text-decoration: underline;
  }
 </style>
</head>
<body>
 <div class="container">
  <h1>404</h1>
  <p>Sahifa topilmadi.</p>
  <p>Siz qidirayotgan sahifa oʻchirilgan, nomi oʻzgartirilgan yoki vaqtincha mavjud boʻlmagan boʻlishi mumkin.</p>
  <a href="/">Bosh sahifaga o'tish.</a>
 </div>
</body>
</html>
