{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django blogi</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400">
</head>
<body>
<header>
    <div class="nav-left">
    <h1><a href="{% url 'home' %}">Django Blogi</a></h1>
{% if user.is_authenticated %}
    </div>
    <div class="naw-right">
        <a href="{% url 'post_new' %}"> +yangi post qoshish</a>
    </div>
</header>

<p>{{user.username}}, saytga xushkelibsiz!</p>
<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
<p>Siz saytga kirmagansiz!!</p>
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
<div>
    {% block content %}

    {% endblock content %}
</div>
</body>
</html>